{% extends 'APPersonnagesBundle::layout.html.twig' %}
{% block title %}
    {{ parent() }} - Affichage des personnages
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<article class="col-sm-12">
		    {% for personnage in personnages.data.results %}
		    	<article class="col-sm-3" style="text-align:center; margin-bottom: 2.5%; margin-top: 2.5%">
			        <img src="{{ personnage.thumbnail.path }}/standard_large.{{ personnage.thumbnail.extension }}" alt="{{ personnage.name }}" class="img-circle"><br>
			        <a href="{{ path('ap_personnages_details_personnages', {'id': personnage.id}) }}">{{ personnage.name }} </a>
		        </article>
		    {% endfor %}
		    <ul class="pagination">
			    {% if page > 1 %}
			    	<li>
			    		<a href="{{ path('ap_personnages_items', {'page': 1}) }}"> << </a>
			    	</li>
			    	<li>
			    		<a href="{{ path('ap_personnages_items', {'page': page - 1}) }}"> < </a>
			    	</li>
			  	{% endif %}
				{% for p in range(max(page - 3, 1), min(page + 3, nbPages)) %}
					<li {% if p == page %} class="active"{% endif %}>
				    	<a href="{{ path('ap_personnages_items', {'page': p}) }}">{{ p }}</a>
				    </li>
				{% endfor %}
				{% if page < nbPages %}
					<li>
				    	<a href="{{ path('ap_personnages_items', {'page': page + 1}) }}"> > </a>
				    </li>
				    <li>
				   		<a href="{{ path('ap_personnages_items', {'page': nbPages}) }}"> >> </a>
				   	</li>
				{% endif %}
			</ul>
    	</article>
    </div>
{% endblock %}
